root {
  background: #2D2B2F;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #2D2B2F;
}


h1{
  font-family: Helvetica;
  color: #ffffff;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.2;
  }

h2{
  font-family: Helvetica;
  color: #2d2b2f;
  text-align: center;
  font-size: 2.4rem;
  
  }

.body{
  background: #2D2B2F; 
}

#image {
  max-width: 100%;
  height: auto;
}

#tribute-info{
    font-size: 16px;
    width: 1000px;
    text-align: left;
    color: #2D2B2F;
    font-family: arial;
    text-align: justify;
    margin: 0 auto 0 auto;
  }

#img-div{
    background: #2D2B2F;
    margin: 20px auto 0 auto;
  }

#img-caption{  
    font-size: 12px;
    text-align: left;
    width: 500px;
    margin: 0 auto 0px auto;
}

#tribute-link
{
    font-size: 20px;
    color: #2D2B2F;
    font-family: Helvetica;
    text-align: center;
    margin: 0 auto 0 auto;
}

blockquote {
  font-size: 20px;
  color: #2D2B2F;
  font-family: Helvetica;
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}
#cite {
  font-size: 15px;
  color: #2D2B2F;
  font-family: monospace;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}